.container h1{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container p{
font-family: 'Times New Roman', Times, serif;
font-size: 35px;
}
.container button{
    background-color: blue;
    color: white;
   width: 250px;
   height: 80px;
   font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;
   transition: all 0.3s;
} 
.container button:hover{
    background-color: green;
}